.App {
  text-align: center;
  align-items: center;
}

.mainContainer {
  width: 50%;
  margin: 50px auto;
}

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  border: 1px black;
  background: #d3d3d3;
  align-items: center;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.form-field {
  width: 200px;
  border: none;
  margin: 15px 10px;
  height: 1.8rem;
}

.button {
  border: none;
  width: 100px;
  margin: 10px;
  background-color: rgb(123, 123, 123);
  font-size: 1.1rem;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  
}
